version: "3.9"

services:
  agent:
    build: .
    container_name: local_ai_agent
    volumes:
      - ./app:/app
    stdin_open: true
    tty: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
